<h1> Edit Profile </h1>

<%= form_for @profile do |f| %>

    <%= f.label :Interests %>
    <%= f.text_field :interest %>
    </br>
  
    <%= f.label :Gender %>
    <%= f.text_field :gender %>
    </br>
  
    <%= f.submit %>
  
  <% end %>